@font-face {
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 400 700;
    font-stretch: 75% 125%;
    src: url("InstrumentSans-VariableFont_wdth,wght.woff2") format("woff2");
}

@font-face {
    font-family: "Instrument Sans";
    font-style: italic;
    font-weight: 400 700;
    font-stretch: 75% 125%;
    src: url("InstrumentSans-Italic-VariableFont_wdth,wght.woff2")
        format("woff2");
}
